body{
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
    font-family: 'Montserrat', sans-serif;
    overflow: overlay;
}
.dark-mode {
  background-color: rgba(34, 34, 34, 0.516);
  color: #ecf0f1;
  transition: all ease 0.8s;
}
.dark-mody{
  float: inline-end;
}
.dark-mody:hover{
    transition: ease-in 0.5s;
    background: #fdb813;
    opacity: 60%;
    border-radius: 15px;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1.5s ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
/*--------------------------------------------------------------
  SCROLLBAR START
  --------------------------------------------------------------*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }

/*--------------------------------------------------------------
  COLORS
  --------------------------------------------------------------*/
.bg-main{
    background-color: #227093;
}
.text-main{
    color: #ecf0f1
}
.text-main1{
    color: #227093 ;
}
.btn-main{
   background-color: #227093;
   color: #ecf0f1;
   transition: all ease 0.5s;
}
.btn-main:hover{
  background-color: rgba(22, 70, 93,0.3);
  transition: all ease 0.5s;
}

/*--------------------------------------------------------------
  NAVBAR START
  --------------------------------------------------------------*/
.navbar{
    height: 50px;
    width: 100%;
    font-family: Arial;
    position: fixed;
    background: rgba(22, 70, 93,0.1);
    color: #fff;
    top: 0;
    left: 0;
}
.navbar:hover{
    background: #227093;
    color:#ecf0f1;
    transition: all 0.7s ease-in-out;
}

.navbar a{
    float: right;
    padding: 15px;
    margin-right: 5px;
    text-decoration: none;
    color: #333;
}
.navbar a:hover{
    color: #ecf0f1;
    transition: all 0.5s ease;
}

nav .navbar-brand{
    letter-spacing: 3px;
}

nav ul li{
    display: block;
    margin: 5px;
    letter-spacing: 0.5px;
    opacity: 0.7;
}

:root .ouranimation{
    animation: backInLeft;
  animation-duration: 2s;
}
:root .ouranimation1{
    animation: fadeInRight;
  animation-duration: 2s;
}
/*--------------------------------------------------------------
  NAVBAR END
  --------------------------------------------------------------*/


/*--------------------------------------------------------------
  VİDEO OFFLINE
  --------------------------------------------------------------*/
video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: 100vh ;
	height: auto ;
	z-index: 0;
	transform: translateX(-50%) translateY(-50%);

}

/*--------------------------------------------------------------
  HERO ANİMATED START
  --------------------------------------------------------------*/
.hero-animated {
    width: 100%;
    min-height: 50vh;
    position: relative;
    padding: 120px 0 60px;
    z-index: 1000;
  }

  .hero-animated h2 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 300;
  }

  .hero-animated h2 span {
    color: #333;
  }

  .hero-animated p {
    color: #333;
    margin: 0 0 30px 0;
    font-size: 20px;
    font-weight: 400;
  }

  .hero-animated .animated {
    margin-bottom: 60px;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  @media (min-width: 992px) {
    .hero-animated .animated {
      max-width: 45%;
    }
  }

  @media (max-width: 991px) {
    .hero-animated .animated {
      max-width: 60%;
    }
  }

  @media (max-width: 575px) {
    .hero-animated .animated {
      max-width: 80%;
    }
  }

  @-webkit-keyframes up-down {
    0% {
      transform: translateY(20px);
    }

    100% {
      transform: translateY(-20px);
    }
  }

  @keyframes up-down {
    0% {
      transform: translateY(20px);
    }

    100% {
      transform: translateY(-20px);
    }
  }
 /*--------------------------------------------------------------
  HERO ANİMATED END
  --------------------------------------------------------------*/


  /*--------------------------------------------------------------
  Featured Services Section
  --------------------------------------------------------------*/
  .featured-services .service-item {
    padding: 30px;
    transition: all ease-in-out 0.4s;
    background: rgba(22, 70, 93,0.1);
    border-radius: 10px;
    height: 100%;
  }


  .featured-services .service-item h4 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 24px;
  }

  .featured-services .service-item h4 a {
    color: rgba(22, 70, 93,0.8);
    transition: ease-in-out 0.3s;
    text-decoration: none;
  }

  .featured-services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }

  .featured-services .service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0 60px 0 #227093;
  }

  .featured-services .service-item:hover h4 a {
    color: rgba(22, 70, 93,0.8);
  }

/*--------------------------------------------------------------
  Featured Services Section END
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/
.team{
  margin-top: 50px;
  padding: 100px;
}
.team .team-member .member-img {
  border-radius: 8px;
  overflow: hidden;
}

.team .team-member .social {
  position: absolute;
  left: 0;
  top: -18px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .team-member .social a {
  transition: color 0.3s;
  color: #fff;
  background: rgba(22, 70, 93,0.4);
  margin: 0 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: 0.3s;
}

.team .team-member .social a i {
  line-height: 0;
  font-size: 16px;
}

.team .team-member .social a:hover {
  background: rgba(22, 70, 93,0.8);
}

.team .team-member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .team-member .member-info {
  padding: 30px 15px;
  text-align: center;
  box-shadow: 0px 2px 15px #227093;
  background: rgba(22, 70, 93,0.1);
  margin: -50px 20px 0 20px;
  position: relative;
  border-radius: 8px;
}

.team .team-member .member-info h4 {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 24px;
  color: #333;
}

.team .team-member .member-info span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.team .team-member:hover .social {
  opacity: 1;
}
/*--------------------------------------------------------------
# Team Section END
--------------------------------------------------------------*/





/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact{
  margin-top: 30px;
  padding: 50px;
}

.contact .map {
  height: 100%;
  width: 100%;
  margin-bottom: 40px;
  align-items:center ;
  object-position: center;
}

.contact .map iframe {
  border: 0;
  width: 100%;
  height: 300px;
}

.contact .info {
  padding: 40px;
  box-shadow: 0px 2px 15px #227093;
  overflow: hidden;
}

.contact .info h3 {
  font-weight: 600;
  font-size: 24px;
}

.contact .info p {
  color: #666;
  margin-bottom: 30px;
  font-size: 15px;
}

.contact .info-item+.info-item {
  padding-top: 20px;
  margin-top: 20px;
}

.contact .info-item h4 {
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: #666;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Contact Section END
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  color: #227093;
  font-size: 14px;
}

.footer .footer-content {
  background: #333;
  padding: 60px 0 30px 0;
}

.footer .footer-content .footer-info {
  margin-bottom: 30px;
}

.footer .footer-content .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.footer .footer-content .footer-info h3 span {
  color: #227093;
}

.footer .footer-content .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #ecf0f1;
}

.footer .footer-content h4 {
  font-size: 16px;
  font-weight: 600;
  color: #ecf0f1;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 15px;
}

.footer .footer-content h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: #227093;
  bottom: 0;
  left: 0;
}

.footer .footer-content .footer-links {
  margin-bottom: 30px;
}

.footer .footer-content .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-content .footer-links ul i {
  padding-right: 2px;
  color: #ecf0f1;
  font-size: 12px;
  line-height: 1;
}

.footer .footer-content .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-content .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-content .footer-links ul a {
  color: #ecf0f1;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}

.footer .footer-content .footer-links ul a:hover {
  color: #227093;
}

.footer .footer-legal {
  padding: 30px 0;
}

.footer .footer-legal .credits {
  padding-top: 4px;
  font-size: 13px;
  color: #227093;
}

.footer .footer-legal .credits a {
  color: #333;
}

.footer .footer-legal .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(22, 70, 93,0.2);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer .footer-legal .social-links a:hover {
  background: #227093;
  text-decoration: none;
}
